.layout-title {
  height: 140px;

    @media (max-width: 991px) {
        height: 115px;
        padding: 1em 0;
    }

    @media (max-width: 475px) {
       height: 75px;
    }

    

}

.title-logo {
  background: none;
  background-size: 105px;
  background-repeat: no-repeat;
  display: block !important;
  height: 65px;
  margin-top: 23px;
  float: left;


    @media (max-width: 4995px) {
        margin-top: 15px;
    }

}

#logo-container {

    width: 360px;
    height: 73px;
    background: url('../images/ucsd-blink.svg');
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;


    @media (max-width: 1199px) {
            width: 360px;
            position: absolute;
    }

    @media (max-width: 520px) { 
        width: 60%;
    }

    @media (max-width: 475px) {
        width: 53%;
        margin-top: 0;
    }

    @media (max-width: 339px) {
        width: 48%;
    }
}

a.title-logo.ucsd-logo {
    background-size: 193px;
    width: 193px;
        @media (max-width: 1199px) {
            background-size: 397px;
            width: 180px;
        }

        @media (max-width: 475px) {
            background-size: 190px 46px; 
            width: 87px;
            height: auto;
        }

        @media (-webkit-min-device-pixel-ratio: 1.1) {
            background-size: 423px;
            background-repeat: no-repeat;


            @media (max-width: 1199px) {
                background-size: 396px;
            }

            @media (max-width: 499px) {
                background-size: 245px;
                width: 115px;
            }
            
        }

}

.col-sm-3.pull-left.top-logo {
    padding: 0;
    width: 221px;

    @media (max-width: 1199px) {
        height: 80px;
        width: 206px;
    }

    @media (max-width: 475px) {
        height: 49px;
        width: 92px;
    }

    @media (-webkit-min-device-pixel-ratio: 1.1) {
        @media (max-width: 1199px) {
            width: 209px;
        }

        @media (max-width: 499px) {
            width: 128px;
            height: 56px;
        }

        @media (max-width: 375px) {
            width: 125px;
        }
    }
}


a.title-logo.blink-logo {
    background-size: 105px;
    width: 105px;

        @media (max-width: 1199px) {
            background-size: 105px;
            width: 105px;
        }

        @media (max-width: 475px) {
            background-size: 47.5px;
            width: 95px;
        }

        @media (-webkit-min-device-pixel-ratio: 1.1) {
            background-size: 105px;
            background-repeat: no-repeat;

            @media (max-width: 499px) {
                background-size: 55px;
                max-width: 65px;
                height: 35px;
            }

        }
        
}

.col-sm-2.pull-left.top-logo {
    padding-right: 0;
    padding-left: 30px;
    width: 115px;

    @media (max-width: 1199px) {
        height: 80px;
        width: 140px;
        padding-left: 27px;
    }

    @media (max-width: 475px) {
        height: 49px;
        padding-left: 5px;
        width: 59px;
    }

    @media (-webkit-min-device-pixel-ratio: 1.1) {


        @media (max-width: 499px) {
            width: 70px;
            padding-left: 20px;
        }

        @media (max-width: 375px) {
            padding-left: 15px;
        }

    }
}

/****** Date and Status Component */

.ds-container {
  display: block;
  height: 30px;
  margin-bottom: 15px;
  width: 100%;

    @media (max-width: 991px) {

            margin-top: 25px;

    }


    @media (max-width: 520px) {

        margin-top: 20px;

    }

    @media (max-width: 475px) {
        margin-top: 5px;
    }

}

.si-container {
  display: block;
  overflow: hidden;
  float: right;
  width: 35px;
}

.system-status {
  display: block;
  margin-left: 10px;
  float: right;
  width: auto;
}

#status-link{
  overflow: hidden;
  display: block;
}

.status-indicator {

  height: 7px;
  width: 7px;
  display: block;
  margin: 10px 2px;
  border-radius: 10px;
  float: left;



    &.warning {
      background: #e6131c;
    }

    &.issue {
      background: #e6b540;
    }

    &.allclear {
      background: #008a4a;
    }


}

@media (max-width: 991px) {

    .system-status  {
        font-size: 13px;
        padding-top: 3px;    
    }

}



a.title-header {
    display: none;
}


@media (max-width: 768px) {

    .system-status {
      float: left;
    }

    .system-status-message {
      display: none;
    }
}

/****** Desktop Search */

.sb-container {
  margin: 0 0 0 10px;
  float: right;
  display: block;

  [role="button"] {
      cursor: pointer;
  }
  label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
  }
  input[type="search"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  input[type="checkbox"],
  input[type="radio"] {
      margin: 4px 0 0;
      line-height: normal;
  }
  input[type="file"] {
      display: block;
  }
  input[type="range"] {
      display: block;
      width: 100%;
  }
  input[type="checkbox"]:focus,
  input[type="file"]:focus,
  input[type="radio"]:focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
  }
  .form-control {
      display: block;
      width: 100%;
      height: 49px;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.44;
      color: #747678;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .form-control::-moz-placeholder {
      color: #7f7f7f;
      opacity: 1;
  }
  .form-control:-ms-input-placeholder {
      color: #7f7f7f;
  }
  .form-control::-webkit-input-placeholder {
      color: #7f7f7f;
  }
  .form-control::-ms-expand {
      border: 0;
      background-color: transparent;
  }
  .form-control[disabled],
  .form-control[readonly] {
      background-color: #eee;
      opacity: 1;
  }
  .form-control[disabled] {
      cursor: not-allowed;
  }
  input[type="search"] {
      -webkit-appearance: none;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
      input[type="date"].form-control,
      input[type="datetime-local"].form-control,
      input[type="month"].form-control,
      input[type="time"].form-control {
          line-height: 49px;
      }
  }
  .form-group {
      margin-bottom: 15px;
  }
  .radio {
      position: relative;
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .radio label {
      min-height: 23px;
      padding-left: 20px;
      margin-bottom: 0;
      font-weight: 400;
      cursor: pointer;
  }
  .radio input[type="radio"],
  .radio-inline input[type="radio"] {
      position: absolute;
      margin-left: -20px;
  }
  .radio + .radio {
      margin-top: -5px;
  }
  .radio-inline {
      position: relative;
      display: inline-block;
      padding-left: 20px;
      margin-bottom: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
  }
  .radio-inline + .radio-inline {
      margin-top: 0;
      margin-left: 10px;
  }
  input[type="checkbox"][disabled],
  input[type="radio"][disabled] {
      cursor: not-allowed;
  }
  @media (min-width: 768px) {
      .form-inline .form-group {
          display: inline-block;
          margin-bottom: 0;
          vertical-align: middle;
      }
      .form-inline .form-control {
          display: inline-block;
          width: auto;
          vertical-align: middle;
      }
      .form-inline .input-group {
          display: inline-table;
          vertical-align: middle;
      }
      .form-inline .input-group .form-control,
      .form-inline .input-group .input-group-btn {
          width: auto;
      }
      .form-inline .input-group > .form-control {
          width: 100%;
      }
      .form-inline .control-label {
          margin-bottom: 0;
          vertical-align: middle;
      }
      .form-inline .radio {
          display: inline-block;
          margin-top: 0;
          margin-bottom: 0;
          vertical-align: middle;
      }
      .form-inline .radio label {
          padding-left: 0;
      }
      .form-inline .radio input[type="radio"] {
          position: relative;
          margin-left: 0;
      }
  }
  .btn {
      display: inline-block;
      margin-bottom: 0;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.44;
      border-radius: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .btn:active:focus,
  .btn:focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
  }
  .btn:focus,
  .btn:hover {
      color: #fff;
      text-decoration: none;
  }
  .btn:active {
      outline: 0;
      background-image: none;
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn[disabled] {
      cursor: not-allowed;
      opacity: 0.65;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  .btn-primary {
      color: #fff;
      background-color: #006a96;
      border-color: transparent;
  }
  .btn-primary:focus {
      color: #fff;
      background-color: #004663;
      border-color: transparent;
  }
  .btn-primary:hover {
      color: #fff;
      background-color: #004663;
      border-color: transparent;
  }
  .btn-primary:active {
      color: #fff;
      background-color: #004663;
      border-color: transparent;
  }
  .btn-primary:active:focus,
  .btn-primary:active:hover {
      color: #fff;
      background-color: #002d3f;
      border-color: transparent;
  }
  .btn-primary:active {
      background-image: none;
  }
  .btn-primary[disabled]:focus,
  .btn-primary[disabled]:hover {
      background-color: #006a96;
      border-color: transparent;
  }
  .btn-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
  }
  .btn-group > .btn {
      position: relative;
      float: left;
  }
  .btn-group > .btn:active,
  .btn-group > .btn:focus,
  .btn-group > .btn:hover {
      z-index: 2;
  }
  .btn-group .btn + .btn,
  .btn-group .btn + .btn-group,
  .btn-group .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
      margin-left: -1px;
  }
  .btn-group > .btn:first-child {
      margin-left: 0;
  }
  .btn-group > .btn:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }
  .btn-group > .btn-group {
      float: left;
  }
  .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
      border-radius: 0;
  }
  .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }
  .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }
  [data-toggle="buttons"] > .btn input[type="checkbox"],
  [data-toggle="buttons"] > .btn input[type="radio"],
  [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"],
  [data-toggle="buttons"] > .btn-group > .btn input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;
  }
  .input-group {
      position: relative;
      display: table;
      border-collapse: separate;
  }
  .input-group[class*="col-"] {
      float: none;
      padding-left: 0;
      padding-right: 0;
  }
  .input-group .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
  }
  .input-group .form-control:focus {
      z-index: 3;
  }
  .input-group .form-control,
  .input-group-btn {
      display: table-cell;
  }
  .input-group .form-control:not(:first-child):not(:last-child),
  .input-group-btn:not(:first-child):not(:last-child) {
      border-radius: 0;
  }
  .input-group-btn {
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
  }
  .input-group .form-control:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }
  .input-group .form-control:last-child,
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }
  .input-group-btn {
      position: relative;
      font-size: 0;
      white-space: nowrap;
  }
  .input-group-btn > .btn {
      position: relative;
  }
  .input-group-btn > .btn + .btn {
      margin-left: -1px;
  }
  .input-group-btn > .btn:active,
  .input-group-btn > .btn:focus,
  .input-group-btn > .btn:hover {
      z-index: 2;
  }
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group {
      margin-right: -1px;
  }
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group {
      z-index: 2;
      margin-left: -1px;
  }

  .navbar-form {
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
      margin-top: 15.5px;
      margin-bottom: 15.5px;
  }
  @media (min-width: 768px) {
      .navbar-form .form-group {
          display: inline-block;
          margin-bottom: 0;
          vertical-align: middle;
      }
      .navbar-form .form-control {
          display: inline-block;
          width: auto;
          vertical-align: middle;
      }
      .navbar-form .input-group {
          display: inline-table;
          vertical-align: middle;
      }
      .navbar-form .input-group .form-control,
      .navbar-form .input-group .input-group-btn {
          width: auto;
      }
      .navbar-form .input-group > .form-control {
          width: 100%;
      }
      .navbar-form .control-label {
          margin-bottom: 0;
          vertical-align: middle;
      }
      .navbar-form .radio {
          display: inline-block;
          margin-top: 0;
          margin-bottom: 0;
          vertical-align: middle;
      }
      .navbar-form .radio label {
          padding-left: 0;
      }
      .navbar-form .radio input[type="radio"] {
          position: relative;
          margin-left: 0;
      }
  }
  @media (max-width: 991px) {


      .navbar-form {
        display: none;
      }

      .navbar-form .form-group {
          margin-bottom: 5px;
      }
      .navbar-form .form-group:last-child {
          margin-bottom: 0;
      }
  }
  @media (min-width: 992px) {
      .navbar-form {
          width: auto;
          border: 0;
          margin-left: 0;
          margin-right: 0;
          padding-top: 0;
          padding-bottom: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
      }
  }
  .navbar-btn {
      margin-top: 15.5px;
      margin-bottom: 15.5px;
  }
  @media (min-width: 992px) {
      .navbar-right {
          float: right !important;
          margin-right: -15px;
      }
      .navbar-right ~ .navbar-right {
          margin-right: 0;
      }
  }
  .label {
      display: inline;
      padding: 0.2em 0.6em 0.3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25em;
  }
  .label:empty {
      display: none;
  }
  .btn .label {
      position: relative;
      top: -1px;
  }
  .label-primary {
      background-color: #006a96;
  }
  .label-primary[href]:focus,
  .label-primary[href]:hover {
      background-color: #004663;
  }


  input[type="text"] {
      color: #484949;
  }
  .btn {
      font-size: 15px;
      text-transform: uppercase;
      padding: 0.8em 1.5em;
      min-width: 200px;
      margin-bottom: 1em;
      letter-spacing: 0.08em;
      font-weight: 400;
  }
  .btn.navbar-btn {
      min-width: 0;
  }
  .btn-primary {
      font-family: BrixSansBold;
  }
  .navbar-search .btn {
      min-width: 0;
  }
  .navbar-search #inputSearch {
      height: 48px;
  }
  .search-icon img {
      opacity: 0.5;
      padding-top: 0.25em;
  }
  .search-icon.search-expand {
      background-color: #d3d3d3;
      padding: 0.725em;
  }
  .search-icon.search-expand img {
      opacity: 0.5;
      height: 24px;
      padding: 0;
  }

  @media (min-width: 992px) {
      .navbar-right {
          margin-right: 0;
      }
      .navbar-search #inputSearch {
          padding-left: 2.5em;
      }
      .navbar-search #inputSearch {
          opacity: 0;
          width: 0;
          width: 220px !important;
      }
      .navbar-search .input-group {
          margin: 0.85em 0.7em 0;
      }
      .navbar-search .radio-inline {
          font-size: 0.85em;
          opacity: 0;
      }
      .navbar-search #inputSearch.hidden,
      .navbar-search .radio-inline.hidden {
          display: none;
      }
  }
  @media (min-width: 1025px) {
      .search-icon.search-expand:focus,
      .search-icon.search-expand:hover {
          background-color: #ffcd00;
      }
  }
  @media (min-width: 1200px) {
      .navbar-search #inputSearch {
          width: 300px !important;
      }
  }
}


/**** Mobile Search */

.mobile-search-form {
    max-width: 720px !important;
    margin: 0 auto;
    padding: 10px 0;
    overflow: hidden;
}

.mobile-search-icon {
    border: 0;
    border-radius: 0;
}

#q,#entry,.dropdown-search .radio-inline {
  margin-right: 10px;
  float: right;
}

#entry {
  height: 48px;
  width: 276px;
}

.input-group.nav-search-mobile {
    float: right !important;
}

.btn.btn-primary.search-icon.search-expand.mobile-search-icon {
  margin-bottom: 0;
}

.dropdown-search .radio-inline {
  margin: 15px 10px 0 0;
}


/**** Custom Search Styles */

#cse-search-box {
    margin: 0;
    padding: 0;

    label {
      padding-bottom: 12px;
      font-weight: bold;
      opacity: 1;
    }
}

.sb-container .navbar-search .input-group {
    margin-top: 0;
    margin-right: 0;
}

input#q, .sb-container .navbar-form .input-group > .form-control {
    height: 48px;
    width: 276px;
    
    
    @media (max-width: 1200px) {
        width: 160px;
    }

    @media (max-width: 767px) {
        width: 95%;
    }

}
