.main-content-nav {
    h2 {
        text-transform: none;
    }
}

.main-content-nav>ul {
    font-size: 0.92em;
}

.main-content-nav>ul li a {
    padding: .6em;
}

.main-content-nav>ul li.active {
    padding: 0.6em 0 0.6em 0.6em;
}

#page_nav li a {
    font-size: 0.92em;
    padding: 0.6em 0 0.6em 0.6em;
}

.bsidebar, .bsidebar section {
    padding:0;
}

.sidebar-components {

  margin-bottom: 20px;

  h3 {
      border-bottom: 1px solid #d0a455;
      padding-bottom: 10px;
      margin-bottom: 10px;
      color: #003d58;
  }

  p {
      margin-bottom: 5px;
    }

}
