/* Jumbotron Search */

  .blink-jumbosearch {
    background: url(../images/homepage/bear-darker.jpg) no-repeat;
    height: auto;
    margin: 0;
    text-align: left;
    padding: 100px 0 !important;
	 	
      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 0 0 20px 0;
        font-family: "Helvetica", sans-serif;

          @media (max-width: 450px) {
            font-size: 25px;
          }
          
      }

      p {
        color: #FFF;
      }

      a {
        color: #fff;
        text-decoration: underline;
      }
      
      #jumbosearch-container {
	      display: flex;
	      flex-direction: column;
      }

      .btn {
        background: #FFF;
        color: #333;
        text-transform: none;
        vertical-align: middle;
        margin: 0;
        padding: 8px;
        height: 43px;
        line-height: 0;
        border-left: 1px solid #eee;
        border-radius: 0;
        min-width: 50px;
      }


      @media (max-width: 1440px) {
        padding: 50px !important;
        background-position-y: 0px;
        margin-bottom: 0;
      }
      
      @media (max-width: 767px) {
	      text-align: center;
      }

      @media (max-width: 550px) {
        background-position-x: -200px;
      }

      @media (max-width: 430px) {
        background-position-x: -170px;
      }


  }

  #blinksearch {
  	width: 60%;
  	border: 0;
  	border-radius: 0;
  	padding: 8px;
    vertical-align: middle;
  }

  #button-container {
    margin: 20px 0 0 0;
    max-width: 770px;

  }


  /* News and Events Stlyes */
  
  .jumbotron-news-events {
      #news-section {
        padding: 0 0 2em 0;
        border-bottom: 1px solid #eee;
        margin-bottom: 3.5em;
      }

      #newsitems {
        display: block;
        /*max-height: 489px;*/
        overflow: hidden;
        padding: 0;

        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        .news-item {
          display: inline-block;
          /*float: left;*/
          padding: 0 15px;
          /*width: 50%;*/
          vertical-align: top;
          min-height: 152px;

          @media (max-width:991px) {
            width: 100%;
            min-height: auto;
          }

        }

        @media (max-width:1200px) {
          max-height: 577px;
        }

        @media (max-width:991px) {
          max-height: unset !important;
          columns: 1;
          -webkit-columns: 1;
          -moz-columns: 1;
        }


      }
      .trident-icon {
        float: left;
        padding-right: 10px;
        width: 35px;
        height: auto;
      }
      h2 {
        font-size: 1.5em;
        margin: 0;
      }
      h3 {
        font-size: 1.2em;
        text-transform: none;
        margin-top: 0;
        font-weight: 500;
        line-height: 1.3;
      } 
	  a {
		  color: #00629b;
		  &:hover {
			  color: #182b49;
		  }
	  }
	  .news-events-title a {
		  text-decoration: underline;
	  }
	  .news {
	  		h3 {
		  		margin-bottom: 30px;
	  		}
		   p {
				margin-top: 1em;
				margin-bottom: 5px;
		   }
		   .featured {
			   margin-top: 1.5em;
		   }
	  }
		
		.date-wrap {
			background: #006a96;
			color: #fff;
			text-align: center;
			width: 6em;
			font-size: 1.22em;
			line-height: 1.25em;
			padding: .5em 1em;
			margin: 0 1.5em .25em 0;
			
			span{
				font-family: BrixSansBold;
			}
		}
		.event {
			margin-bottom: 1.5em;
			display: flex;
			flex-flow: row;
			align-items: center;
			
			.text-link {
				text-transform: none;
				letter-spacing: normal;
				font-size: 1.22em;
				border-bottom: none;
			}
		}
		.event:first-of-type {
			margin-top: 2em;
		}
		.event-title {
			margin-bottom: 0;
			margin-right: 1em;
      line-height: 1.5;
			width: 75%;
		}
		.text-link-hover-arrow {
			visibility: hidden;
			font-size: 16px;
			padding-left: .25em;
			opacity: 0;
			transition: visibility .5s;
		}
	}
	@media (min-width:768px) {
		.jumbotron-news-events { 
			.events {
				display: flex;
				flex-flow: row;
				justify-content: space-between;
			}
			.event {
				margin: 1em 0 1.5em 0;
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				width: 30%;
				
				&:first-of-type {
					margin-top: 1em;
				}
			}
		}
	}
	@media (min-width:992px) {
		.jumbotron-news-events { 
			#news-section {
				padding-bottom: 0;
				margin-bottom: 0;
				border: none;
			}
			.date-wrap {
				font-size:inherit;
				width: 4em;
				padding: .5em;
				margin: 0 1em 0 0;
			}
			.events {
				flex-flow: column;
				margin-bottom: .5em;
			}
			.event {
				margin-bottom:.5em;
				display: flex;
				flex-flow: row;
				width: auto;
				.text-link {
					font-size: inherit;
				}
			}
			.event-title {
				width: 65%;
			}
		}
	}

  /* Blink Toolset */

  .blink-toolset {
    background: #eee;
    height: auto;
    margin: 40px auto 0 auto;
    padding: 40px 0!important;

      h1 {
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        text-transform: none;
        margin: 80px auto 30px auto;
        font-family: "Helvetica", sans-serif;
      }

  }

  .toolset-headline {
    font-size: 20px;
    font-weight: normal !important;
    text-transform: none !important;
    text-align: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px !important;

  }
  
  .toolset-container {
    background: #fff;
    /*min-height: 420px;*/
    padding: 15px 25px;

	 .toolset-link { 
		text-decoration: underline;
	   margin-bottom: 25px;
	   a {
		   color: #00629b;
		   &:hover {
			   color: #182b49;
		   }
	   }
	 }

    dd {
      margin-bottom: 15px;
    }

    > .panel-group {

      > .panel {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

          /*Selecting First Panel only  and remove padding*/
          &:first-child{

              .panel-heading {

                padding-top: 0;

              }

            }
          /* all done, carry on... */

          > .panel-heading {
            border: 0;
            padding: 15px 0;



            > .panel-title {
              font-weight: normal;
              text-transform: capitalize;
              text-align: left;

              a {
                margin-left: 10px;
              }

            }

          }

        > .panel-collapse {

          > .panel-body {
            border: 0;
            padding: 0 15px;
          }

          ul {
            padding-left: 10px;
            list-style-type: none;

            li { padding: 5px 0; }

          }

        }

      }



      &.panel-title h5 {
        color: #182B49;
        font-size: 16px;
      }

    }

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }

  }


  .toolset-panel {
    text-transform: none !important;
    text-align: left;
  }

  #all-tools > .glyphicon.glyphicon-wrench {
    color: #6b6b6b;
    margin-right: 6px;
  }

  .launcher-logo {
    padding: 30px;
  }




/*Panel Arrows */



.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "closed" panels */
    content: "\e080";

}

.panel-heading .accordion-toggle:after {
    /* symbol for "open" panels */
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    float: left;
    color: #C69214;
}



/* End Panel Arrows */

/* My Blink */


#MyBlink-Button {
    a {
      color: #fff;
      padding: 10px 15px;
      background-color: #00629b;
       &:hover {
		    background-color: #182b49;
	    }
    }    
}

#_myblink_toolbox > a {
    font-size: 12px;
    letter-spacing: .02em;
    color: #8c8c8c;
}

.mb-container > div > ul {
  list-style: none;
  padding: 0;
}

.mb-container > .mb-left > ul {
  list-style: none;
  padding: 0;
}

.mb-container > .mb-left > ul > li::before  {
  content: "\25AA";
  color: #C69214;
  width: 1em;
  margin-left: 00;
  padding-right: 10px;
}



.mb-right  {
  border-top: 1px solid #eee;
  padding-top: 10px
}

.mb-right > ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
}


.mb-right > ul > li:first-child, .mb-right > ul > li:nth-child(2n) {
  float: left;
  padding: 5px;
  text-align: left;
  width: auto;
}

.mb-right > ul > li:nth-child(3n) {
  clear: both;
  width: 100%;
}

.mb-right > ul > li > hr {
  margin: 10px 0;
  display: none;
}

.mb-right > ul > li:nth-child(4n), .mb-right > ul > li:nth-child(5n) {
  float: left;
  margin: 0 2% 2% 0;
  padding: 5px;
  text-align: left;
  width: auto;
}

.mb-right > ul > li:nth-child(5n) {
  margin: 0;
}



.mb-right > ul > li:nth-child(4n) > a:before {
  display: block;
    content: '';
    background-image: url('../images/icons/gear.svg');
    background-size: 15px 15px;
    height: 20px;
    width: 15px;
    float: left;
    background-position-y: 5px;
    background-repeat: no-repeat;
    margin-right: 5px;
}

.mb-right > ul > li:nth-child(5n) > a:before {
  display: block;
  content: ' ';
  color: #eee;
  background-image: url('../images/icons/logout.svg');
  background-size: 15px 15px;
  height: 20px;
  width: 15px;
  float: left;
  background-position-y: 5px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
